/* .banner{
    background: url(../assets/img/sun-setting-behind-the-mountains-and-covering-the-vineyard-with-the-light.jpg) no-repeat center / cover;
    width: 100%;
    height: 100vh;
} */

.carousel-indicators{
    z-index: 0;
}
.carousel-inner{
    z-index: -1;
    top: 100px;
    
}
.carousel-inner> .carousel-item> img {
    
    max-width: 100vw;
    max-height: 100vh; 
}

.carousel-control-prev{
    z-index: 0;
}

.carousel-control-next{
    z-index: 0;
}

@media screen and (max-width: 500px) {
    .carousel-inner> .carousel-item> img {
    
        max-width: 100vw;
        height: 50vh; 
    }
}