
.cards{
    background-color: var(--background-cards);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px;
}

.cards-titulo{
    background-color: var(--background-cards);
    text-align: center;
    padding: 35px 0 35px 0;
}
.cards-titulo__titulo{
    color: var(--cards-titulo-principal);
    font-size: 2.13rem;
    
}

.cards__content{
    background: url(../../assets/img/front-view-bottle-of-wine-on-black-background.jpg) center / cover no-repeat;
    grid-column: 1 / 2;
    grid-column: 1 / 2;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.5s;
}

.cards__content:nth-child(2){
    background: url(../../assets/img/red-wine-bottle-and-grapes.jpg) center / cover no-repeat;
    grid-column: 2 / 2;
    grid-column: 2 / 2;
}

.cards__content:nth-child(3){
    background: url(../../assets/img/young-couple-celebrating-valentine-s-day-while-having-lunch-and-wine-together.jpg) center / cover no-repeat;
    grid-column: 1 / 2;
    grid-column: 1 / 2;
}

.cards__content:nth-child(4){
    background: url(../../assets/img/two-wine-glasses-in-toasting-gesture-with-big-splashing-at-studio.jpg) center / cover no-repeat;
    grid-column: 2 / 2;
    grid-column: 2 / 2;
}

.cards__content:nth-child(5){
    background: url(../../assets/img/wine-corks-on-the-table.jpg) center / cover no-repeat;
    grid-column: 1 / 2;
    grid-column: 1 / 2;
}

.cards__content:nth-child(6){
    background: url(../../assets/img/wine-barrels-stacked-in-the-cellar-of-the-winery.jpg) center / cover no-repeat;
    grid-column: 2 / 2;
    grid-column: 2 / 2;
}

.cards_titulo{
    color: var(--cards-titulo);
    background-color: rgba(33, 33, 33, 0.6);
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    /* display: none; */
    display: block;
}

@media screen and (max-width: 900px) {
    .cards{
        grid-template-columns: 1fr;
        gap: 5px;
        
    }

    .cards__content:nth-child(2){
        grid-column: 1 / 2;
        grid-column: 1 / 2;
    }
    .cards__content:nth-child(3){
        grid-column: 1 / 2;
        grid-column: 1 / 2;
    }
    .cards__content:nth-child(4){
        grid-column: 1 / 2;
        grid-column: 1 / 2;
    }
    .cards__content:nth-child(5){
        grid-column: 1 / 2;
        grid-column: 1 / 2;
    }
    .cards__content:nth-child(6){
        grid-column: 1 / 2;
        grid-column: 1 / 2;
    }
	
}

@media screen and (max-width: 950px) {
    .cards-titulo__titulo{
        font-size: 1.9rem;  
    }
    .cards_titulo{
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 450px) {
    .cards-titulo__titulo{
        font-size: 1.5rem;  
    }
    .cards_titulo{
        font-size: 1.1rem;
    }
}

