.servicios{
    width: 100%;
    height: 850px;
    background-color: var(--background-servicios);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    align-content: space-evenly;
    justify-items: center;    
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.servicios__content{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;

}

.servicios__text{
    width: 60%;
    font-size: 1.6rem;
    text-align: center;
    color: var(--servicios-text);
}
.servicios__text_icon{
    fill: var(--servicios-text-icon-fill);
}
.servicios__text_icon:hover{
    fill: var(--servicios-text-icon-fill-hover);
}

@media screen and (max-width: 1150px) {
    .servicios{
        grid-template-columns: 1fr;
    }

    .servicios__text{
        width: 60%;
        font-size: 1.2rem;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .servicios{
        grid-template-columns: 1fr;
    }

    .servicios__text{
        width: 60%;
        font-size: 1rem;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    
    .servicios{
        height: auto;
        grid-template-columns: 1fr;
    }

    .servicios__text{
        width: 60%;
        font-size: 0.9rem;
        text-align: center;
    }
}