.servicios{
    width: 100%;
    height: 850px;
    background-color: #F5F5F5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;    
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.servicios__content{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;

}

.servicios__text{
    width: 60%;
    font-size: 1.6rem;
    text-align: center;
}
.servicios__text_icon{
    fill: #616161;
}
.servicios__text_icon:hover{
    fill: #6f0303;
}

@media screen and (max-width: 1150px) {
    .servicios{
        grid-template-columns: 1fr;
    }

    .servicios__text{
        width: 60%;
        font-size: 1.2rem;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .servicios{
        grid-template-columns: 1fr;
    }

    .servicios__text{
        width: 60%;
        font-size: 1rem;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .servicios{
        grid-template-columns: 1fr;
    }

    .servicios__text{
        width: 60%;
        font-size: 0.9rem;
        text-align: center;
    }
}