.footer{
    height: 100px;
    background-color: #E0E0E0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    text-align: center;
}

.powered__content-text{
    font-weight: 600;
    color: black;
    font-size: 1.1rem;
}

.socialMedia__content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.socialMedia__content-icono{
    fill: #212121;
}

.socialMedia__content-icono:hover{
    fill: #6f0303;
}

.socialMedia__content-icono-instagram:hover{
    fill: #6f0303;
}



@media screen and (max-width: 800px) {
	.footer{
        display: grid;
        grid-template-columns: 1fr;
    }

    .powered__content-text{
        font-size: 1rem;
    }
}