.footer{
    height: 100px;
    background-color: var(--background-footer);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    text-align: center;
}

.powered__content-text{
    font-weight: 600;
    color: var(--footer-text-powered);
    font-size: 1.1rem;
}

.socialMedia__content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.socialMedia__content-icono{
    fill: var(--footer-social-media-fill);
}

.socialMedia__content-icono:hover{
    fill: var(--footer-social-media-fill-hover);
}





@media screen and (max-width: 800px) {
	.footer{
        display: grid;
        grid-template-columns: 1fr;
    }

    .powered__content-text{
        font-size: 1rem;
    }
}