
.header{
    height: 100px;
    background: var(--background-header);
    box-shadow: 0px 4px 4px var(--header-box-shadow);  
    position: fixed;  
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 1;
}

.header__logo{
    display: flex;
    padding: 0 30px 10px 0;
    align-items: center;
    justify-content: end;
    display: none;
}
.header__logo-icono{
    width: 60px;
    height: 60px;
    display: none;
}

.header__titulo{
    padding: 20px 0 20px 0;
    font-style: normal;
    font-weight: 200;
    font-size: 2.73rem;
    line-height: 67px;
    color: var(--header-gris-claro);
    text-shadow: 0px 4px 4px var(--header-text-shadow);
    text-align: center;
    
}

.header__titulo-ancla{
    text-decoration: none;
    color: var(--header-gris-claro);
}

.header__menuNav{
    padding: 10px 10px 10px 10px;
    text-align: start;
}

.header__menuNav-menuIcon{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: var(--header-gris-claro);
}

.header__menuNav-menuIcon:hover{
    cursor: pointer;
}

.header__menuNav-menuIcon-hover:hover{
    fill: var(--header-menu-icon-hover);
}

#btn-menu{
    display: none;
}

.header__menuDesplegable{
    position: absolute;
    background: var(--background-menu-desplegable-full-screen);
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .header__menuDesplegable{
    opacity: 1;
    visibility: visible;
}

.header__menuDesplegable-items{
    width: 100%;
    max-width: 250px;
    background: var(--background-menu-desplegable);
    height: 100%;
    position: relative;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .header__menuDesplegable .header__menuDesplegable-items{
    transform: translateX(0);
}

.header__menuDesplegable-items nav{
    transform: translateY(15%);
}

.header__menuDesplegable-items nav a{
    display: block;
    text-decoration: none;
    padding: 23px;
    color: var(--menu-desplegable-text-items);
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.header__menuDesplegable-items nav a:hover{
    border-left: 3px solid var(--menu-desplegable-text-items-border-left);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--background-menu-desplegable-text-items);
}

.header__menuDesplegable-items label{
    position: absolute;
    right: 7px;
    top: 8px;
    color: rgb(184, 184, 184);
    cursor: pointer;
    font-size: 20px;
}

.header__menuDesplegable-items-iconoCierre{
    width: 25px;
}

.backgroundFlechaCierre:active{
    fill: var(--menu-desplegable-flecha-cierre-fill-activate);
}


@media screen and (max-width: 500px) {
    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .header__logo-icono{
        display: none;
    }

    .header__titulo{
        padding: 0;  
        font-size: 2rem;
    }

    .header__menuNav{
        padding: 0;
    }

    .header__menuNav-menuIcon{
        font-size: 30px;
    }

}

@media screen and (max-width: 1270px) {
    .header{
        height: 100px;
    }

    .header__titulo{  
        font-size: 2rem;
    }
}