
.header{
    height: 100px;
    background: #212121; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    position: fixed;  
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 1;
}

.header__logo{
    text-align: end;
    display: none;
}
.header__logo-icono{
    width: 70px;
    padding: 20px 10px 10px 30px;
    text-align: end;
}

.header__titulo{
    padding: 20px 0 20px 0;
    font-style: normal;
    font-weight: 200;
    font-size: 2.73rem;
    line-height: 67px;
    color: #9E9E9E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.346);
    text-align: center;
    
}

.header__menuNav{
    padding: 10px 10px 10px 10px;
    text-align: start;
}

.header__menuNav-menuIcon{
    font-size: 30px;
    color: #9E9E9E;
}

.header__menuNav-menuIcon:hover{
    cursor: pointer;
}

#btn-menu{
    display: none;
}

.header__menuDesplegable{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .header__menuDesplegable{
    opacity: 1;
    visibility: visible;
}

.header__menuDesplegable-items{
    width: 100%;
    max-width: 250px;
    background: #212121;
    height: 300px;
    position: relative;
    border-bottom-right-radius: 20px;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .header__menuDesplegable .header__menuDesplegable-items{
    transform: translateX(0);
}

.header__menuDesplegable-items nav{
    transform: translateY(15%);
}

.header__menuDesplegable-items nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #BDBDBD;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.header__menuDesplegable-items nav a:hover{
    border-left: 3px solid #E0E0E0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #616161;
}

.header__menuDesplegable-items label{
    position: absolute;
    right: 7px;
    top: 8px;
    color: rgb(184, 184, 184);
    cursor: pointer;
    font-size: 20px;
}

.header__menuDesplegable-items-iconoCierre{
    width: 25px;
}





@media screen and (max-width: 500px) {
    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
        /* flex-direction: row;
        align-content: space-between; */
        height: 70px;
    }

    .header__logo-icono{
        display: none;
    }

    .header__titulo{
        padding: 0;  
        font-size: 2rem;
    }

    .header__menuNav{
        padding: 0;
    }

    .header__menuNav-menuIcon{
        font-size: 30px;
        color: #9E9E9E;
    }

}

@media screen and (max-width: 1270px) {
    .header{
        height: 100px;
    }

    .header__titulo{  
        font-size: 2rem;
    }
}