.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    align-content: center;
    height: 100vh;  
}

.qr-generado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-generado__titulo{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.8rem;
    padding:30px 0 30px 0;
}

.generadorQR{
    padding:30px 0 30px 0;
}

.qr-generado__subtitulo{
    font-weight: 400;
    font-size: 1.5rem;
    padding:30px 0 30px 0;
}