.footer{
    height: 100px;
    background-color: #212121;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    text-align: center;
}

.powered__content-text{
    font-size: 1.1rem;
}

.socialMedia__content-icono{
    width: 30px;
    transition: 0.5s;
}

.socialMedia__content-icono:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.08);
}

@media screen and (max-width: 800px) {
	.footer{
        display: grid;
        grid-template-columns: 1fr;
    }

    .powered__content-text{
        font-size: 1rem;
    }
}