.footer{
    height: 130px;
    background-color: #2b292992;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    text-align: center;
}

.powered__content-text{
    font-size: 1.1rem;
}

.socialMedia__content-icono{
    width: 30px;
}

@media screen and (max-width: 800px) {
	.footer{
        display: grid;
        grid-template-columns: 1fr;
    }
}