.sobreNosotros{
    width: 100%;
    height: 600px;
    background-color: #F5F5F5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;    

}

.sobreNosotros_content{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sobreNosotros__text{
    width: 60%;
    font-size: 1.6rem;
    text-align: center;
}
.sobreNosotros__text_icon{
    fill: #616161;
}
.sobreNosotros__text_icon:hover{
    fill: #6f0303;
}

@media screen and (max-width: 1150px) {
    .sobreNosotros{
        grid-template-columns: 1fr;
    }

    .sobreNosotros__text{
        width: 60%;
        font-size: 1.2rem;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .sobreNosotros{
        grid-template-columns: 1fr;
    }

    .sobreNosotros__text{
        width: 60%;
        font-size: 1rem;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .sobreNosotros{
        grid-template-columns: 1fr;
    }

    .sobreNosotros__text{
        width: 60%;
        font-size: 0.9rem;
        text-align: center;
    }
}