.sobreNosotros{
    width: 100%;
    height: 600px;
    background-color: #E0E0E0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;    

}

.sobreNosotros__text{
    width: 60%;
    font-size: 1.7rem;
    text-align: center;
}

@media screen and (max-width: 1150px) {
    .sobreNosotros{
        grid-template-columns: 1fr;
    }

    .sobreNosotros__text{
        width: 60%;
        font-size: 1.2rem;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .sobreNosotros{
        grid-template-columns: 1fr;
    }

    .sobreNosotros__text{
        width: 60%;
        font-size: 1rem;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .sobreNosotros{
        grid-template-columns: 1fr;
    }

    .sobreNosotros__text{
        width: 60%;
        font-size: 0.9rem;
        text-align: center;
    }
}