.lds-roller {
    position: relative;
}

.divLoader {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.divLoader:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #BDBDBD;
    margin: -4px 0 0 -4px;
}

.divLoader:nth-child(1) {
    animation-delay: -0.036s;
}

.divLoader:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.divLoader:nth-child(2) {
    animation-delay: -0.072s;
}

.divLoader:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.divLoader:nth-child(3) {
    animation-delay: -0.108s;
}

.divLoader:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.divLoader:nth-child(4) {
    animation-delay: -0.144s;
}

.divLoader:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.divLoader:nth-child(5) {
    animation-delay: -0.18s;
}

.divLoader:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.divLoader:nth-child(6) {
    animation-delay: -0.216s;
}

.divLoader:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.divLoader:nth-child(7) {
    animation-delay: -0.252s;
}

.divLoader:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.divLoader:nth-child(8) {
    animation-delay: -0.288s;
}

.divLoader:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader{
    background: #212121;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100000;
    clip-path: inset(0 0 0 0);
    transition: clip-path 0.4s ease-in-out ;
    
}

.loaderNone{
    clip-path: inset(0 0 0 100%);
}

.loader__content-icon{
    position: absolute;
    top: calc(50% - 50px);
    right: calc(50% + 35px);
}



