
.descripcion-content{
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    
    padding: 20px;
    background: var(--background-traza-descripcion);
   
}

.descripcionVino{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.descripcionVino__titulo{
    color: var(--traza-descripcion-text);
    font-size: 2.3rem;
    font-weight: 600;
}

.descripcionVino__parrafo{
    color: var(--traza-descripcion-text);
    font-size: 1.2rem;
    font-weight: 500;
}

.descripcionVino__lista-trazabilidad{
    color: var(--traza-descripcion-text);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 0 10px 0;
    line-height: 1.5rem;
    list-style: none;
}

.botella-content{
    display: flex;
}

.botella-content__imagen{
    padding: 10px;
    border-radius: 20px;
}

@media screen and (max-width: 1300px) {
    .descripcion-content{
        height: auto;
        grid-template-columns: 1fr;
        padding: 150px 20px 20px 20px;
    }

    .botella-content__imagen{
        width: 250px;
        height: 450px;
    }

    .descripcionVino{
        width: 80%;
    }
    
    .descripcionVino__titulo{
        font-size: 1.8rem;
    }
    
    .descripcionVino__parrafo{
        font-size: 1rem;
    }

    .descripcionVino__lista-trazabilidad{
        font-size: 0.9rem;
    }
}

@media screen and (min-height: 1100px) {
    .descripcion-content{
        height: 100vh;
        grid-template-columns: 1fr;
        padding: 50px 20px 20px 20px;
    }
}

@media screen and (max-height: 800px) {
    .botella-content__imagen{
        /* padding-top: 100px; */
        width: 250px;
        height: 430px;
    }

    
}

